.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    display: inline-block;
}

.App-header {
    background-color: #222;
    min-height: 82px;
    padding: 20px;
    color: white;
}

.App-body { background-color: #f1f1f1; }

.App-intro {
    font-size: large;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    display: inline-block;
    font-family: monospace;
    text-transform: uppercase;
    float: right;
}

.calculators {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.calculator {
    margin: 0 auto 40px;
    max-width: 350px;
    padding: 15px;
    background-color: #cecece;
    font-family: monospace;
    min-height: 330px;

    h3 { color: #007749; }

    button {
        width: 100%;
        border-radius: 0;
        border-color: #6d7491;
        background-color: #6d7491;
        color: #fff;
        min-height: 50px;
        box-shadow: none;
    }

    .radio-label { display: block; }

    .radio-inline {
        display: inline-block;
        padding-left: 20px;
    }

    &__results {
        border-top: 1px solid #dee2f0;
        border-bottom: 1px solid #dee2f0;
        padding: 25px;
        margin: 20px 0;

        span {
            color: #007749;
            text-align: center;
            width: 100%;
            display: block;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
}

.form-group {
    min-height: 35px;
    margin-bottom: 15px;

    .label,
    .radio-label {
        display: block;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    .range-container input {
        border: 1px solid #dee2f0;
        line-height: 2.8125rem;
        padding: 0 18px;
        box-sizing: border-box;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .calculators {
        flex-direction: row;

        &__calc { padding: 0 15px; }
    }
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
